html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/* ********************************************************** */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: var(--light); */
  height: 100%;
}

main {
  height: calc(100% - 80px);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.site-logo {
  display: flex;
  align-items: center;
}

.site-logo i {
  font-size: 1.4rem;
  color: var(--health-green);
}

.site-logo h1 {
  margin-left: 10px;
}

.action-bar {
  margin-left: auto;
}

.action-bar__item {
}

.footer {
  padding: 0px 20px 10px 10px;
}

.footer__action-bar {
  display: inline-block;
  float: right;
}

/**
 * Tables
 */
table {
  border-spacing: 0;
  border-collapse: collapse;
}
