:root {
  /* Base colours */
  --dark-grey: #333333;
  --darker-grey: #999999;
  --grey: #cccccc;
  --light-grey: #e5e5e5;
  --lighter-grey: #f2f2f2;
  --lightest-grey: #f9f9f9;
  --light: #ffffff;
  --health-green: #2dc798;
  --darker-health-green: #29bc90;
  --danger: #e60000;
  --status-green: #00cc6d;
  --status-amber: #feca4d;
  --status-red: #ff2821;
  --blue: #ebf2fa;

  /* Backround */

  /* Buttons */
  --btn-primary-color: var(--health-green);
  --btn-primary-hover-color: #2abb90;

  --btn-secondary-color: #e5e5e5;
  --btn-secondary-hover-color: #d9d9d9;

  --btn-danger-color: var(--danger);
  --btn-danger-hover-color: #cc0000;

  /* Links */
  --link-inactive-color: var(--grey);

  /* Headers */
  --heading-primary-color: var(--dark-grey);
  --heading-secondary-color: var(--health-green);

  /* Tables */
  --table-heading-color: var(--grey);
  --table-data-color: var(--dark-grey);

  /* Text */
}

.background--white {
  background-color: var(--light);
}
