:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


/* */
main {
  background-color: var(--light);
}

.header {
  padding: 20px;
  display: flex;
  border-bottom: 5px solid var(--lighter-grey);
}

.action-bar {
  margin-left: auto;
}

.action-bar__item {

}

.footer {
  padding: 0px 20px 10px 10px ;
}

.footer__action-bar {
  display: inline-block;
  float: right;
}


/**
 * Tables
 */
table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 13px;
  font-weight: 500;
  color: var(--darker-grey);
}