/* Headers */
h1 {
  font-size: 1.4rem;
  font-weight: 450;
  color: var(--dark-grey);
  display: inline-block;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

.subtitle {
  padding: 20px;
  color: var(--darker-grey);
}

/* Text */
p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

span {
  font-size: 14px;
}

.text--danger {
  color: var(--danger);
}

.error {
  display: flex;
}

.error__text {
  color: var(--danger);
  padding: 0;
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
}

/* Text - alignment */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Icons */
.icon {
  display: inline-block;
  color: var(--darker-grey);
  font-size: 1.3rem;
  text-align: center;
}

.icon--large {
  font-size: 25px;
}

.icon--action {
  font-size: 1rem;
  color: var(--darker-grey);
}

.icon--table {
  font-size: 1.5rem;
}

.icon--edit {
  color: var(--dark-grey);
  opacity: 0.7;
  cursor: pointer;
  margin: 5px;
}

.icon--users {
  color: var(--dark-grey);
  opacity: 0.7;
  cursor: pointer;
}

.icon--delete {
  color: var(--danger);
  opacity: 0.7;
  cursor: pointer;
}

.icon--close {
  color: var(--danger);
  opacity: 0.7;
  cursor: pointer;
  margin: 0px 5px;
}

.icon--plus {
  color: var(--health-green);
}

.icon--edit,
.icon--delete,
.icon--users {
  font-size: 1.1rem;
}

.icon--edit:hover,
.icon--delete:hover,
.incon--cross:hover {
  opacity: 0.8;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Data */
.no-data {
  text-align: center;
  padding: 20px;
}

.no-data:last-of-type {
}

.no-data__link {
  color: var(--health-green);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.no-data__link:visited {
  color: var(--health-green);
  background-color: var(--lightest-grey);
}

/* Tooltip */
.tooltip {
  display: block !important;
  z-index: 10000;
  font-family: Avenir;
  font-size: 12px;
}

.tooltip .tooltip-inner {
  background: var(--lightest-grey);
  color: var(--dark-grey);
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: var(--lightest-grey);
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: transparent;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
