/* Headers */
h1 {
  font-size: 30px;
  font-weight: lighter;
  color: var(--dark-grey);
  display: inline-block;
}

h2 {
  font-size: 24px;
  color: var(--health-green);
  margin: 0;
}

h3 {
  display: block;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.subtitle {
  margin-left: 15px;
  margin-bottom: 5px;
  color: var(--darker-grey);
}


/* Text */
p {
  font-size: 14px;
}

span {
   font-size: 14px;
}

.text--danger {
  color: var(--danger);
}

.error-message {
  color: var(--danger);
  padding: 0;
  margin-top: 0;
  font-size: 12px;
  font-weight: bold;
}


/* Text - alignment */
.text-left { 
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center; 
}


/* Icons */
.icon {
  display: inline-block;
  color: var(--darker-grey);
  font-size: 1.3rem;
}

.icon--action {
  font-size: 1rem;
  color: var(--darker-grey);
}

.icon--table {
  font-size: 1.5rem;
}

.icon--edit {
  color: var(--dark-grey);
  opacity: 0.7;
  cursor: pointer;
  margin: 5px;
}

.icon--users {
  color: var(--dark-grey);
  opacity: 0.7;
  cursor: pointer;
}

.icon--delete {
  color: var(--danger);
  opacity: 0.7;
  cursor: pointer;
}

.icon--close {
  color: var(--danger);
  opacity: 0.7;
  cursor: pointer;
  margin: 0px 5px;
}

.icon--plus {
  color: var(--health-green);
  margin-top: 4px;
  opacity: 0.9;
}

.icon--plus:hover {
  cursor: pointer;
  opacity: 1;
}

.icon--edit, .icon--delete, .icon--users {
  font-size: 1.1rem;
}

.icon--edit:hover, .icon--delete:hover, .incon--cross:hover {
  opacity: 0.8;
}

.app-logo {
  font-size: 30px;
  color: var(--health-green);
  display: inline-block;
  margin-right: 0.25rem;
}


/* Links */
a {
  text-decoration: none;
}

a:visited {
  color: var(--grey);
}


/* Lists */
ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  margin-right: 10px;
}

li:last-of-type {
  margin-right: 0;
}


/* Data */
.no-data {
  text-align: center;
  background: var(--lightest-grey);
}

.no-data:last-of-type {
}

.no-data__link {
  color: var(--health-green);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.no-data__link:visited {
  color: var(--health-green);
  background-color: var(--lightest-grey);
}